body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.2rem;
}

h2 {
  color: #8b8686;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  margin-top: 0;
}

button {
  background: transparent;
}

hr {
  box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
  margin: 0 auto;
}

#search {
  font-size: 20px;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
}

.fa-search {
  font-size: 25px;
}

.city-and-date {
  padding: 30px;
  margin: 10px 0 25px 0;
}

.temperature {
  font-size: 50px;
  text-align: center;
}

.convert {
  font-size: 15px;
  text-align: center;
}

.weathericon {
  font-size: 60px;
  text-align: center;
}

.precipitation-and-description {
  margin: 50px 0 0 0;
}

.precipitation-and-wind {
  text-align: center;
}

.precipitation,
.wind {
  font-size: 18px;
}

.description {
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 25px;
  transition: all 200ms ease-in-out;
}

.weather-forecast {
  letter-spacing: 0.2rem;
  font-size: 20px;
  font-weight: 400;
  transition: all 200ms ease-in-out;
}

.weather-forecast-max {
  font-size: 11px;
  font-weight: 300;
}

.weather-forecast-min {
  opacity: 0.8;
  font-size: 11px;
  font-weight: 300;
}
